
{% extends 'inicio/Modelos/climato/cho/base.html' %}
{% load static %}

{% block content %}

		<div id="demo">
			<div id="features">
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmx/fig/txmes_1.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmx/fig/txmes_2.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmx/fig/txmes_3.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmx/fig/txmes_4.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmx/fig/txmes_5.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmx/fig/txmes_6.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmx/fig/txmes_7.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmx/fig/txmes_8.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmx/fig/txmes_9.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmx/fig/txmes_10.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmx/fig/txmes_11.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmx/fig/txmes_12.png' %}" alt="" /></a></div>
			</div>
			<script type="text/javascript">
				$(document).ready(function(){ $('#features').jshowoff(); });
			</script>
		</div>

		{% endblock %}
