
{% extends 'inicio/Modelos/climato/cho/base.html' %}
{% load static %}

{% block content %}
		<div id="demo">
			<div id="features">
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmn/fig/tnmes_1.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmn/fig/tnmes_2.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmn/fig/tnmes_3.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmn/fig/tnmes_4.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmn/fig/tnmes_5.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmn/fig/tnmes_6.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmn/fig/tnmes_7.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmn/fig/tnmes_8.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmn/fig/tnmes_9.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmn/fig/tnmes_10.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmn/fig/tnmes_11.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/climato/tmn/fig/tnmes_12.png' %}" alt="" /></a></div>
			</div>
			<script type="text/javascript">
				$(document).ready(function(){ $('#features').jshowoff(); });
			</script>
		</div>
{% endblock %}
