


{% extends 'inicio/Modelos/climato/cho/base.html' %}
{% load static %}

{% block content %}
		<div id="demo">
			<div id="features">
				<div><a href="#"><img src="{% static 'inicio/Modelos/pronos/l850/fig/linvel850_1.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/pronos/l850/fig/linvel850_2.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/pronos/l850/fig/linvel850_3.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/pronos/l850/fig/linvel850_4.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/pronos/l850/fig/linvel850_5.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/pronos/l850/fig/linvel850_6.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/pronos/l850/fig/linvel850_7.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/pronos/l850/fig/linvel850_8.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/pronos/l850/fig/linvel850_9.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/pronos/l850/fig/linvel850_10.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/pronos/l850/fig/linvel850_11.png' %}" alt="" /></a></div>
				<div><a href="#"><img src="{% static 'inicio/Modelos/pronos/l850/fig/linvel850_12.png' %}" alt="" /></a></div>
			</div>
			<script type="text/javascript">
				$(document).ready(function(){ $('#features').jshowoff(); });
			</script>
		</div>
		{% endblock %}
